<?xml version="1.0"?>
<ruleset>

    <file>./src</file>

    <arg value="sp"/>
    <arg name="colors"/>
    <config name="testVersion" value="7.4-"/>

    <rule ref="Syde-Extra">
        <exclude name="SlevomatCodingStandard.Functions.RequireTrailingCommaInCall.MissingTrailingComma" />
        <exclude name="SlevomatCodingStandard.Functions.RequireTrailingCommaInDeclaration.MissingTrailingComma" />
    </rule>

    <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
    	<properties>
    		<property name="rootNamespaces" type="array">
    			<element key="src" value="Inpsyde\Modularity" />
    			<element key="tests/phpunit/Unit" value="Inpsyde\Modularity\Tests\Unit" />
    		</property>
    	</properties>
    </rule>
</ruleset>